.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}

.modal-content {
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 40px 60px;
  border: 1px solid #888;
  width: 450px;
  /* Could be more or less, depending on screen size */
  background: #ebeeee;
  background-image: url('/assets/web_chat_pattern.png');
  background-size: 100%;
  background-position-y: 13vh;
  background-repeat: no-repeat;
}

.modal-content i.close {
  font-size: 30px;
  position: relative;
  float: right;
  right: -40px;
  top: -30px;
  cursor: pointer;
}

.modal h2 {
  margin-top: 0;
}

.message {
  padding: 5px 10px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

.message.red {
  background-color: #fb5e5e;
  color: #fff;
}

@media(max-width:1000px) {
  .modal-content {
    width: 55%;
  }
}

@media(max-width:700px) {
  .modal-content {
    width: 66%;
  }
  .serverImg {
    width: 27px;
    height: 30px;
  }
}

@media(max-width:500px) {
  .modal-content {
    width: 90%;
  }
  .modal-content {
    padding: 40px 40px;
  }
  .modal-content i.close {
    right: -22px;
  }
}
