<div *ngIf="showModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <i class="close" *ngIf="closeButton" (click)="closeModal()">&times;</i>
    <h2>{{title}}</h2>
    <span class="message red" *ngIf="nickInUseError">{{'SERVER.WARNING.NICK_IN_USE' | translate}}</span>
    <span class="message red" *ngIf="nickSameError">{{'SERVER.WARNING.NICK_SAME' | translate}}</span>
    <span class="message red" *ngIf="nickUnderscoreError">{{'SERVER.WARNING.NICK_UNDERSCORE' | translate}}</span>
    <span class="message red" *ngIf="invalidUser">{{'SERVER.WARNING.INVALID_USER' | translate}}</span>
    <form (ngSubmit)="submit()">
      <input maxlength="20" #inputText (keypress)="$event.which == 32?false:true" name="nick" autocomplete="off" [(ngModel)]="nick"
        placeholder="{{inputPlaceholder}}">
      <button [disabled]="!nick" class="pull-right" type="submit">{{submitButtonText}}</button>
      <a class="link margin70" (click)="insertSavedUser = true;showModal = false">{{'APP.USERS.INSERT_USER_LINK' | translate}}
        <span>&#8690;</span>
      </a>
    </form>
  </div>
</div>
<div *ngIf="nickMultisession" class="modal">
  <div class="modal-content">
    <span class="message red">{{'SERVER.WARNING.NICK_MULTISESSION' | translate}}</span>
  </div>
</div>
<div *ngIf="insertSavedUser" class="modal">
  <div class="modal-content">
    <i class="close" *ngIf="closeButton" (click)="closeModal()">&times;</i>
    <form (ngSubmit)="sendSavedUser()">
      <h2>{{'APP.USERS.INSERT_USER' | translate}}</h2>
      <span class="message red" *ngIf="invalidUser">{{'SERVER.WARNING.INVALID_USER' | translate}}</span>
      <span class="message red" *ngIf="nickSameError">{{'SERVER.WARNING.NICK_SAME' | translate}}</span>
      <input (keypress)="$event.which == 32?false:true" name="user" autocomplete="off" [(ngModel)]="user" placeholder="{{'APP.USERS.USERID_PLACEHOLDER' | translate}}">
      <button [disabled]="!user" class="pull-right" type="submit">{{submitButtonText}}</button>
    </form>
    <p class="margin70">{{'APP.USERS.USER_ID_HELP1' | translate}}</p>
    <i class="controls settings"></i>
    <p>{{'APP.USERS.USER_ID_HELP2' | translate}}</p>
    <i class="controls userID"></i>
    <a class="text-right link" (click)="insertSavedUser = false;showModal = true">{{'APP.GO_BACK' | translate}}
      <span>&#8690;</span>
    </a>
  </div>
</div>
<div *ngIf="showSavedUser" class="modal">
  <div class="modal-content">
    <i class="close" (click)="closeModal()">&times;</i>
    <h2>{{'APP.USERS.PICK_USER' | translate}}</h2>
    <input (keydown)="preventWriting()" (focus)="selectAllContent($event)" #inputUserID autocomplete="off" [(ngModel)]="userID">
    <button class="pull-right" ngxClipboard [cbContent]="userID" type="text">{{'APP.COPY' | translate}}</button>
    <p class="margin70">{{'APP.USERS.USER_ID_WARNING' | translate}}</p>
  </div>
</div>
<div *ngIf="logoff" class="modal">
  <div class="modal-content">
    <i class="close" (click)="closeModal()">&times;</i>
    <h2>{{'APP.USERS.LOG_OFF' | translate}}</h2>
    <input (keydown)="preventWriting()" (focus)="selectAllContent($event)" #inputUserID autocomplete="off" [(ngModel)]="userID">
    <button class="pull-right" ngxClipboard [cbContent]="userID" type="text">{{'APP.COPY' | translate}}</button>
    <p class="margin70">{{'APP.USERS.LOG_OFF_TEXT' | translate}}</p>
    <p>{{'APP.USERS.USER_ID_WARNING' | translate}}</p>
    <button (click)="exit()" style="background:#000;width: 100%;" type="text">{{'APP.EXIT' | translate}}</button>
  </div>
</div>
<div *ngIf="genericModal" class="modal">
  <div class="modal-content" [innerHtml]="genericModalContent"></div>
</div>
<div *ngIf="genericModalClose" class="modal">
  <div class="modal-content">
    <i class="close" (click)="closeModal()">&times;</i>
    <div [innerHtml]="genericModalContent"></div>
  </div>
</div>
