<div class="header">
  <h2>{{'APP.USERS.TITLE' | translate}}</h2>
</div>
<ul class="tabs">
  <li (click)="online = true" [ngClass]="{'disableClick':closed,'selected':online}">{{'APP.USERS.ONLINE_TAB' | translate}}</li>
  <li (click)="online = false" [ngClass]="{'disableClick':closed,'selected':!online}">{{'APP.USERS.OFFLINE_TAB' | translate}}</li>
</ul>
<div class="users">
  <div class="user" *ngFor="let user of userList">
    <div *ngIf="online && user.online">
      <span class="box" (click)="showActions(user.nick)" [ngClass]="{'green':user.online,'red':!user.online,'disableClick':closed}"
        (dblclick)="privateMsgUser(user.nick)">
        <p>{{user.nick}}</p>
      </span>
      <i [ngClass]="{'i-volumeHigh':!user.ignored, 'i-volumeMute':user.ignored}" class="i-volume"></i>
      <ul *ngIf="action == user.nick" class="userActions">
        <li [ngClass]="{'disabled':myNick == user.nick}" (click)="privateMsgUser(user.nick)">{{'APP.USERS.PRIVATE_MSG' | translate}}</li>
        <li *ngIf="!filtered" (click)="filterUser(user.nick)">{{'APP.USERS.FILTER_USER_MSGS' | translate}}</li>
        <li *ngIf="filtered" (click)="filterUser(null)">{{'APP.USERS.UNFILTER_USER_MSGS' | translate}}</li>
        <li *ngIf="!user.ignored" [ngClass]="{'disabled':myNick == user.nick}" (click)="ignoreUser(user.nick)">{{'APP.USERS.IGNORE_USER' | translate}}</li>
        <li *ngIf="user.ignored" (click)="ignoreUser(user.nick)">{{'APP.USERS.UNIGNORE_USER' | translate}}</li>
      </ul>
    </div>
    <div *ngIf="!online && !user.online">
      <span class="box" [ngClass]="{'green':user.online,'red':!user.online,'disableClick':closed}" (click)="showActions(user.nick)"
        (dblclick)="privateMsgUser(user.nick)">
        <p>{{user.nick}}</p>
      </span>
      <i [ngClass]="{'i-volumeHigh':!user.ignored, 'i-volumeMute':user.ignored}" class="i-volume"></i>
      <ul *ngIf="action == user.nick" class="userActions">
        <li [ngClass]="{'disabled':myNick == user.nick}" (click)="privateMsgUser(user.nick)">{{'APP.USERS.PRIVATE_MSG' | translate}}</li>
        <li *ngIf="!filtered" (click)="filterUser(user.nick)">{{'APP.USERS.FILTER_USER_MSGS' | translate}}</li>
        <li *ngIf="filtered" (click)="filterUser(null)">{{'APP.USERS.UNFILTER_USER_MSGS' | translate}}</li>
        <li *ngIf="!user.ignored" [ngClass]="{'disabled':myNick == user.nick}" (click)="ignoreUser(user.nick)">{{'APP.USERS.IGNORE_USER' | translate}}</li>
        <li *ngIf="user.ignored" (click)="ignoreUser(user.nick)">{{'APP.USERS.UNIGNORE_USER' | translate}}</li>
      </ul>
    </div>
  </div>
</div>
