.tabs {
  display: table;
  width: 100%;
  max-width: 100%;
}

.tabs li {
  width: 49% !important;
  display: table-cell;
  height: auto;
  padding: 15px 5px;
  font-size: 16px;
}

.userActions {
  position: absolute;
  z-index: 2;
  background: #ccc;
  list-style: none;
  text-align: left;
  padding: 0;
  width: 60%;
  left: 20%;
  margin: 0;
}

.userActions li {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.userActions li:hover {
  background: #ffa533;
}

.userActions li::selection {
  background: transparent;
}

.user {
  margin: 20px 0 0;
  position: relative;
}

.users {
  min-height: calc(100vh - 256px);
}

.users span p {
  word-break: break-all;
  margin: 0;
}

.users span p::selection {
  background: transparent;
}

.header {
  line-height: 60px;
  background: #314249;
  color: #fff;
}

.footer {
  height: 118px;
  border-top: 1px dotted #ccc;
  margin-top: 25px;
}

button {
  padding: 10px 5px;
  margin: 16px 0 0;
  width: 50%;
}

h2 {
  margin: 0;
}

@media(max-width:850px) {
  .tabs li {
    display: block;
    width: 100% !important;
  }
  .users {
    min-height: calc(100vh - 305px);
  }
}

@media(max-width:500px) {
  button {
    width: 75%;
  }
  .box {
    width: 48%;
  }
  .users {
    min-height: calc(100vh - 301px);
  }
}
