<ul class="tabs desktop">
  <li *ngFor="let tab of tabList" (click)="selectTab(tab)" [ngClass]="{'disableClick':closed,'selected':isActive(tab),'hasUpdates':hasUpdates(tab) && !isActive(tab)}">
    {{tab}}
    <i (click)="closeTab(tab)">&times;</i>
  </li>
</ul>
<ul (click)="toggleTabs()" #mobileTab [ngClass]="{'opened':toggleList,'closed':!toggleList,'updatesMobileBorder':hasUpdatesMobileBorder}"
  class="tabs mobile">
  <li *ngFor="let tab of tabList" (click)="selectTab(tab) " [ngClass]="{ 'disableClick':closed, 'selected':isActive(tab),
  'hasUpdates':hasUpdates(tab) && !isActive(tab)}">
    {{tab}}
    <i (click)="closeTab(tab) ">&times;</i>
  </li>
</ul>
