<div appStreaming="{{startedStream}}" (scroll)="scrollHandler($event)" [ngClass]="{'width100':!appUsers}" class="mainScreen">
  <div class="streamingBox">
    <div *ngIf="!startedStream && privateWindowStyles">
      <i (click)="callStreamingService('call')" class="call"></i>
      <i (click)="callStreamingService('cam')" class="cam"></i>
    </div>
    <div [hidden]="!startedStream || !privateWindowStyles">
      <i (click)="streamEnd()" class="decline positioned">&#10007;</i>
      <video #video></video>
    </div>
  </div>
  <i *ngIf="loadingUp" class="loader"></i>
  <span class="box red large" *ngIf="error">{{'SERVER.ERROR.MESSAGE' | translate}}</span>
  <span class="box red large" *ngIf="nickBanned">{{'SERVER.WARNING.NICK_BANNED' | translate}}</span>
  <p *ngIf="messagesIndex!='max' && showMessageIndex" value="messagesIndex" (click)="getMoreMessages()" class="msgIndex">{{'APP.MAIN.SHOW_MORE' | translate}}</p>
  <div *ngFor="let messages of msgObj; trackBy: trackByFn">
    <div *ngIf="!privateWindowStyles">
      <p *ngIf="messages.from == '_server'">
        <b>
          <i class="serverImg"></i>
        </b>
        <span class="green">{{messages.msg}}</span>
        <span class="time">{{formatDate(messages.timestamp)}}</span>
      </p>
      <p *ngIf="messages.from != '_server'">
        <b>{{messages.from}}:</b>
        <span *ngIf="messages.msg">{{messages.msg}}</span>
        <span *ngIf="messages.image">
          <img class="messageImg" attr.data-url="{{messages.image}}" (click)="loadImage($event)" [src]="preset">
        </span>
        <span *ngIf="messages.video">
          <video controls preload="none">
            <source src="{{messages.video}}"> Your browser does not support the video play.
          </video>
        </span>
        <span *ngIf="messages.audio">
          <audio controls preload="none">
            <source src="{{messages.audio}}"> Your browser doesn't support audio play
          </audio>
        </span>
        <span class="time">{{formatDate(messages.timestamp)}}</span>
      </p>
    </div>
    <div class="privateMsgs" *ngIf="privateWindowStyles">
      <div *ngIf="!messages.mine">
        <p>
          <span *ngIf="messages.msg">{{messages.msg}}</span>
          <span *ngIf="messages.image">
            <img class="messageImg" attr.data-url="{{messages.image}}" (click)="loadImage($event)" [src]="preset">
          </span>
          <span *ngIf="messages.video">
            <video controls preload="none">
              <source src="{{messages.video}}"> Your browser does not support the video play.
            </video>
          </span>
          <span *ngIf="messages.audio">
            <audio controls preload="none">
              <source src="{{messages.audio}}"> Your browser doesn't support audio play
            </audio>
          </span>
          <span class="recActions" *ngIf="messages.streamQuery && !messages.expired">
            <i (click)="acceptStream([messages.clientID,messages.streamType])" class="accept">&#10003;</i>
            <i (click)="declineStream(messages)" class="decline">&#10007;</i>
          </span>
          <span class="recActions" *ngIf="messages.streamQuery && messages.expired">
            <p style="color:#fff">{{'APP.WARNING.MESSAGE_EXPIRED' | translate}}</p>
          </span>
          <span class="time">{{formatDate(messages.timestamp)}}</span>
        </p>
      </div>
      <div *ngIf="messages.mine">
        <p class="myMessages">
          <span class="orange" *ngIf="messages.msg">{{messages.msg}}</span>
          <span class="orange" *ngIf="messages.image">
            <img class="messageImg" attr.data-url="{{messages.image}}" (click)="loadImage($event)" [src]="preset">
          </span>
          <span class="orange" *ngIf="messages.video">
            <video controls preload="none">
              <source src="{{messages.video}}"> Your browser does not support the video play.
            </video>
          </span>
          <span class="orange" *ngIf="messages.audio">
            <audio controls preload="none">
              <source src="{{messages.audio}}"> Your browser doesn't support audio play
            </audio>
          </span>
          <span class="orange" *ngIf="messages.data">
            <object width="400" height="400" data="{{messages.data}}"></object>
          </span>
          <span class="time">{{formatDate(messages.timestamp)}}</span>
        </p>
      </div>
    </div>
  </div>
  <i *ngIf="loadingDown" class="loader"></i>
</div>
<app-user-list [hidden]="!appUsers"></app-user-list>
<form (ngSubmit)="sendMessage()">
  <div class="inputWithIcon">
    <input maxlength="5000" autocomplete="off" id="writeMessage" name="writeMessage" #inputText class="writeMessage" [(ngModel)]="text"
      type="text" placeholder="Write nice comments here..." [ngClass]="{'width90':recording}">
    <i class="emoticon" (click)="emojiDisplay()"></i>
    <app-send-media error="error"></app-send-media>
  </div>
  <span *ngIf="text">
    <button type="submit" class="sendMessage" [disabled]="error || loadingUp || loadingDown">
      <i class="send"></i>
    </button>
  </span>
  <app-send-audio (recordState)="recording=$event" [text]="text" [error]="error" [loadingUp]="loadingUp" [loadingDown]="loadingDown"></app-send-audio>
</form>
<emoji-mart [hidden]="!showEmojis" (emojiClick)="addEmoji($event)" [showPreview]="false" sheetSize="32" emojiSize="28" color="#f8981d"
  set="apple"></emoji-mart>
