.mainScreen {
  background: rgba(255, 255, 255, 0.64);
  height: calc(100vh - 130px);
  padding: 10px 25px;
  display: inline-block;
  width: 75%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.mainScreen p {
  margin: 5px 0;
}

.mainScreen b {
  width: 80px;
  text-align: center;
  word-wrap: break-word;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.mainScreen span {
  margin-left: 20px;
  word-wrap: break-word;
  background: #e1e1e1;
  padding: 10px 15px;
  border-radius: 20px;
  display: inline-block;
  max-width: calc(100% - 110px);
  vertical-align: middle;
  font-size: 14px;
}

.mainScreen span.green {
  background: #b2ebba;
}

.mainScreen span.orange {
  background: #ffd093;
}

.mainScreen span.box {
  margin: 10px 0;
}

.mainScreen span.time {
  font-size: 9.5px;
  padding: 0;
  background: 0;
  display: block;
  line-height: 15px;
  margin-left: 104px;
}

.mainScreen .privateMsgs span {
  margin-left: 0;
}

.writeMessage {
  width: calc(100% - 60px);
  padding-right: 80px;
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.64);
}

.writeMessage.width90 {
  width: calc(100% - 90px);
}

.msgIndex {
  text-align: center;
  color: #9d9deb;
  cursor: pointer;
}

.messageImg {
  max-width: 100%;
  max-height: 500px;
  border-radius: 20px;
  cursor: pointer;
  vertical-align: middle;
}

.serverImg {
  background-image: url('/assets/server.png');
  width: 31px;
  height: 35px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
}

video {
  border-radius: 20px;
  max-width: 100%;
  max-height: 500px;
}

audio {
  height: 39px;
  max-width: 100%;
}

@media(max-width:850px) {
  .mainScreen,
  .tabs {
    width: 70%;
  }
  .mainScreen .privateMsgs .myMessages {
    text-align: right;
  }
  .mainScreen .privateMsgs p {
    text-align: left;
  }
  .mainScreen .privateMsgs .myMessages span.time {
    max-width: 100%;
    margin-left: 0;
  }
}

@media(max-width:700px) {
  .mainScreen {
    padding: 10px 15px;
  }
  .mainScreen span {
    margin-left: 10px;
  }
  .mainScreen span.time {
    margin-left: 93px;
  }
  .mainScreen b {
    width: 70px;
  }
}

@media(max-width:650px) {
  .mainScreen {
    width: 65%;
  }
}

@media(max-width:500px) {
  .mainScreen {
    position: relative;
    top: 40px;
    padding: 10px 5px;
    height: calc(100vh - 105px);
    margin-top: 10px;
    width: 60%;
  }
  .mainScreen span {
    margin-left: 0;
    max-width: 100%;
  }
  .mainScreen p {
    text-align: center;
  }
  .mainScreen span.time {
    margin-left: 0;
  }
  .mainScreen b {
    width: 100%;
    font-size: 12px;
  }
  .mainScreen.width100 p {
    text-align: left;
  }
  .mainScreen.width100 b {
    width: 50px;
  }
  .mainScreen.width100 span {
    width: auto;
    max-width: calc(100% - 55px);
  }
  .mainScreen.width100 b+span+span.time {
    width: auto;
    margin-left: 60px;
  }
  .writeMessage {
    margin-top: 5px;
  }
}
