[class*=i-] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: #ffa533;
  direction: ltr;
}

[class*=i-]:after,
[class*=i-]:before {
  content: '';
  pointer-events: none;
}

i.send {
  background-image: url(./assets/send.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

button:disabled i.send {
  background-image: url(./assets/sendDisabled.svg);
}

.i-volume {
  border: 7px solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  padding: 6px 3px;
  -webkit-box-shadow: inset 4px 0;
  box-shadow: inset 4px 0;
  position: absolute;
  right: 10%;
  top: 8px;
}

.i-volumeMute {
  color: #dcc8b0;
}

.i-volumeHigh:before {
  width: 15px;
  height: 15px;
  border-width: 5px;
  position: absolute;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-style: double;
  border-width: 5px;
  left: -4px;
}

app-chat-controls ul {
  list-style: none;
}

app-chat-controls i.controls {
  top: 15px;
  position: absolute;
}

i {
  cursor: pointer;
}

i.controls {
  background: repeating-linear-gradient( 45deg, #ffa533, #ffa533 10px, #ffbf6e 13px, #d07500 10px);
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 100%;
}

i.controls:after {
  content: '';
  background-size: 90%;
  display: block;
  width: 30px;
  height: 34px;
  margin-left: 8px;
  margin-top: 8px;
  background-repeat: no-repeat;
}

app-chat-controls i.settings,
app-chat-controls i.sound,
app-chat-controls i.nick,
app-chat-controls i.userID,
app-chat-controls i.exit {
  right: 20px;
}

app-chat-controls i.userID {
  top: 195px;
}

app-chat-controls i.exit {
  top: 255px;
}

i.exit,
i.userID {
  background: none;
}

i.exit:after {
  background-image: url(/assets/exit.png);
}

i.userID:after {
  background-image: url(/assets/userID.png);
}

i.settings:after {
  background-image: url(/assets/settings.png);
  margin-left: 10px;
  margin-top: 10px;
}

app-chat-controls i.sound {
  top: 75px;
  z-index: 9999;
}

i.sound:after {
  background-image: url(/assets/sound.png);
}

app-chat-controls i.nick {
  top: 135px;
  z-index: 9999;
}

i.nick:after {
  background-image: url(/assets/nick.png);
}

app-chat-controls i.users {
  right: 75px;
  min-height: auto;
}

i.users:after {
  background-image: url(/assets/users.png);
  margin-left: 9px;
}

i.recAudio {
  height: 25px;
  margin-top: -4px;
}

.recActions {
  padding: 7px 10px;
  background: #000 !important;
}

i.accept,
i.decline {
  font-size: 25px;
  vertical-align: middle;
}

i.accept {
  color: #81e9a5;
  font-size: 25px;
  vertical-align: middle;
}

i.decline {
  color: #fb5e5e;
  font-size: 25px;
  vertical-align: middle;
  margin-left: 17px;
}

i.decline.positioned {
  position: fixed;
}

i.off {
  background: #dcc8b0 !important;
}

i.loading {
  animation-name: spin;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  cursor: no-drop !important;
  pointer-events: none;
}

.loader {
  background-image: url(./assets/loader.svg);
  display: block;
  width: 100px;
  height: 100px;
  margin: 50px auto;
}

i.cam,
i.call {
  display: block;
  margin: 5px auto;
  height: 30px;
  width: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
}

i.cam {
  background-image: url(./assets/cam.png);
  margin-left: calc(75% - 112px);
  height: 30px;
  width: 24px;
}

i.call {
  background-image: url(./assets/call.png);
  margin-left: calc(75% - 160px);
}

i.decline.positioned {
  margin-left: calc(75% - 112px);
}

.width100 i.cam,
.width100 i.decline.positioned {
  margin-left: 0;
  right: 50px;
}

.width100 i.call {
  margin-left: 0;
  right: 95px;
}

@media(max-width:850px) {
  i.cam,
  i.decline.positioned {
    margin-left: calc(70% - 112px);
  }
  i.call {
    margin-left: calc(70% - 160px);
  }
}

@media(max-width:700px) {
  app-chat-controls i.users {
    right: 65px;
  }
  app-chat-controls i.settings,
  app-chat-controls i.sound,
  app-chat-controls i.nick,
  app-chat-controls i.userID,
  app-chat-controls i.exit {
    right: 10px;
  }
  i.cam,
  i.decline.positioned {
    margin-left: calc(70% - 90px);
  }
  i.call {
    margin-left: calc(70% - 138px);
  }
}

@media(max-width:650px) {
  i.cam,
  i.decline.positioned {
    margin-left: calc(65% - 90px);
  }
  i.call {
    margin-left: calc(65% - 138px);
  }
  .width100 i.cam,
  .width100 i.decline.positioned {
    margin-left: 0;
    right: 35px;
  }
  .width100 i.call {
    margin-left: 0;
    right: 83px;
  }
}

@media(max-width:500px) {
  app-chat-controls i.users {
    right: 55px;
  }
  app-chat-controls i.settings,
  app-chat-controls i.sound,
  app-chat-controls i.nick,
  app-chat-controls i.userID,
  app-chat-controls i.exit {
    right: 5px;
  }
  app-chat-controls i.users,
  app-chat-controls i.settings {
    top: 8px;
  }
  i.settings:after {
    margin-left: 9px;
    margin-top: 9px;
  }
  i.sound {
    top: 55px;
  }
  i.nick {
    top: 105px;
  }
  i.controls {
    width: 40px;
    height: 40px;
  }
  i.controls:after {
    width: 26px;
    height: 28px;
  }
  i.call {
    margin-left: calc(60% - 112px);
  }
  i.cam,
  i.decline.positioned {
    margin-left: calc(60% - 65px);
  }
}
