<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>LeadingChat</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#f8981d" />
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
  <noscript>Your browser does not support JavaScript! please activate it</noscript>
  <app-root>
  </app-root>
  <div *ngIf="loading" class="intro">
    <i class="favicon"></i>
  </div>
</body>

</html>
