/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  background: #ebeeee;
  font-family: sans-serif;
  padding: 10px 20px;
  max-width: 2000px;
  display: block;
  margin: 0 auto;
  background-image: url('/assets/web_chat_pattern.png');
  background-size: 100%;
  background-position-y: 0;
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  cursor: pointer;
  border: 0;
  background: #ffa533;
  color: #fff;
  padding: 10px 30px;
  margin: 15px 0 0;
}

input {
  border: 0;
  padding: 10px;
  width: 100%;
  background-color: #fff;
}

.text-right {
  text-align: right;
}

.tabs {
  max-width: 75%;
  margin: 0;
  padding: 0;
  background: #dcdcdc;
  max-height: 172px;
  overflow-y: auto;
}

.tabs li,
.tabs option {
  width: 20%;
  display: inline-block;
  padding: 15px 5px;
  background: #dcdcdc;
  cursor: pointer;
  position: relative;
  text-align: center;
  font-weight: bold;
  padding: 18px 5px 0;
  vertical-align: middle;
  height: 55px;
  word-wrap: break-word;
  font-size: 15px;
}

select.tabs {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 10px;
  background: #ffa533;
  font-weight: bold;
  font-size: 15px;
  text-indent: 40%;
  cursor: pointer;
}

.tabs li.selected,
.tabs option.selected {
  background: #ffa533;
}

.tabs li.hasUpdates,
.tabs option.hasUpdates {
  color: #ffa533;
  font-style: italic;
}

.tabs i {
  position: absolute;
  top: 0;
  font-size: 22px;
  right: 5px;
  color: #000;
}

.tabs i:hover {
  color: #fb5e5e;
}

h2 {
  font-size: 18px;
}

.width100 {
  width: 100% !important;
  max-width: 100% !important;
}

.margin70 {
  margin-top: 70px;
}

.pull-right {
  float: right;
}

.inputWithIcon {
  position: relative;
  display: inline;
}

.inputWithIcon i {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  position: absolute;
  right: 10px;
  top: -3px;
  cursor: pointer;
}

.inputWithIcon i.emoticon {
  background: url(/assets/emoticon.png) #fff466;
  background-size: 100%;
}

.inputWithIcon i.media {
  background: url(/assets/media.png);
  background-size: 100%;
  right: 45px;
}

app-user-list {
  width: 24%;
  float: right;
  background: rgba(255, 255, 255, 0.64);
  text-align: center;
  overflow-y: auto;
  height: 80vh;
}

app-user-list {
  height: calc(100vh - 130px);
}

.box {
  background: #fff;
  border: 2px solid #000;
  border-radius: 2px;
  padding: 10px 5px;
  display: block;
  margin: 0 auto;
  width: 60%;
  cursor: pointer;
}

.box.large {
  max-width: 256px;
  width: 100%;
}

.box.red {
  border-color: #fb5e5e;
  color: #fb5e5e;
}

.box.green {
  border-color: #81e9a5;
  color: #81e9a5;
}

.link {
  display: block;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
}

.link span {
  font-size: 22px;
  color: #4b69ff;
}

.disableClick {
  pointer-events: none;
  cursor: no-drop;
}

@-moz-document url-prefix() {
  audio {
    height: 44px;
  }
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.disabled,
:disabled {
  background-color: #dcc8b0 !important;
  color: #fff !important;
  cursor: no-drop !important;
}

.favicon {
  background: url('assets/favicon.png');
  width: 175px;
  height: 178px;
  background-size: 100%;
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto;
  top: calc(50% - 89px);
  position: absolute;
  left: calc(50% - 87.5px);
  z-index: -1;
}

.mobile {
  display: none !important;
}

button.sendMessage {
  width: 50px;
  float: right;
  padding: 10px;
  background: #314249;
  font-size: 16px;
  height: 36px;
}

.streamingBox {
  width: 100%;
  height: 50px;
  display: block;
}

@media(max-width:1000px) {
  body {
    background-position-y: 100%;
  }
  .favicon {
    width: 140px;
    left: calc(50% - 70px);
    top: calc(50% - 71px);
    height: 142px;
  }
}

@media(max-width:850px) {
  app-user-list {
    width: 28%;
  }
  .tabs {
    max-width: 70%;
  }
  .tabs li {
    width: 25%;
  }
}

@media(max-width:700px) {
  body {
    padding: 10px;
  }
  .tabs li {
    width: 30%;
  }
  .favicon {
    width: 110px;
    left: calc(50% - 65px);
    top: calc(50% - 66.5px);
    height: 115px;
  }
}

@media(max-width:650px) {
  .tabs {
    width: 65%;
  }
  app-user-list {
    width: 33%;
  }
}

@media(max-width:500px) {
  app-tabs {
    position: absolute;
    z-index: 1;
    width: 59.3%;
  }
  app-user-list,
  app-main form {
    position: relative;
    top: 40px;
  }
  .tabs {
    max-width: 100%;
    width: 100%;
    max-height: 98vh;
  }
  .tabs.opened {
    overflow: auto;
  }
  .tabs.closed {
    height: 40px;
    overflow-y: hidden;
  }
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none !important;
  }
  body {
    padding: 5px;
  }
  app-user-list {
    height: calc(100vh - 105px);
    margin-top: 10px;
    width: 38%;
  }
  .tabs li,
  .tabs option {
    width: 100%;
    height: 40px;
    padding: 12px 5px;
  }
  .updatesMobileBorder {
    border: 2px solid red;
  }
  .updatesMobileBorder li {
    padding: 10px 5px;
  }
  button.sendMessage {
    margin-top: 5px;
  }
}
