<i (click)="updateUsers()" [ngClass]="{'disableClick':closed || privateMsg,'off':!users}" class="controls users"></i>
<i (click)="settingsPanel()" [ngClass]="{'disableClick':closed,'off':settings}" class="controls settings"></i>
<div *ngIf="settings" (click)="settingsPanel()" class="modal">
  <ul>
    <li>
      <i [ngClass]="{'off':!sound}" (click)="updateSound()" class="controls sound"></i>
    </li>
    <li>
      <i (click)="changeNick()" class="controls nick"></i>
    </li>
    <li>
      <i (click)="showUserID()" class="controls userID"></i>
    </li>
    <li>
      <i (click)="exit()" class="controls exit"></i>
    </li>
  </ul>
</div>
